.containerr {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
}

.card {
  box-shadow: 10px 10px 5px #aaaaaa;
  width: 370px;
  margin: 13px;
  padding: 7px;
  text-align: center;
  transition: ease-in .3s;
  border-radius: 17px;
}

.card:hover {
  transform: translateY(-5%);
  cursor: pointer;
}

img {
  width: 280px;
  height: 300px;
}

.navbar {
  display: flex;
  padding: 5px 100px;
  transform: translateY(-120%);
  box-shadow: 3px 3px 5px #aaaaaa;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 3;
}

.navbar-brand {
  font-size: 27px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.btn-secondary {
  margin-left: auto;  
}

.details {
  margin-top: 70px;
  transform: translate(10%, 10%);
  box-shadow: 3px 3px 15px #c53838;
  width: 80%;
  padding: 5px;
}

.contain {
  display: flex;
  margin: 50px;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  transform: translate(10%, -5%);
}

.details h1 {
  font-weight: 900;
  opacity: 0.7;
}

.details p {
  font-size: 17px;
  opacity: 0.7;
}

.details span {
  font-size: 30px;
  font-weight: 900;
}

.details button {
  transform: translateY(30%);
}