.containerr {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
}

.card {
  box-shadow: 10px 10px 5px #aaaaaa;
  width: 370px;
  margin: 13px;
  padding: 7px;
  text-align: center;
  transition: ease-in .3s;
  border-radius: 17px;
}

.card:hover {
  transform: translateY(-5%);
  cursor: pointer;
}

img {
  width: 280px;
  height: 300px;
}

.navbar {
  padding: 5px 100px;
  transform: translateY(-120%);
  box-shadow: 3px 3px 5px #aaaaaa;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 3;
}

.navbar-brand {
  font-size: 27px;
}

.navbar-brand:hover {
  cursor: pointer;
}